{% extends "cctv/base.html" %}

{% block content %}

<meta http-equiv="refresh" content="600">

<table width="100%">
{% for row in matrix %}
 <tr width="100%">
 {% for cam in row %}
  <td width="{{ image_width }}">
   <img src="http://{{ cam.username }}:{{ cam.password }}@{{ cam.hostname }}/{{ cam.stream_url }}" width="100%">
   <br>{{ cam.name }} <a href="http://{{ cam.username }}:{{ cam.password }}@{{ cam.hostname }}/{{ cam.stream_url }}" target="{{ cam.name }}">[new window]</a>
  </td>
 {% endfor %}
 </tr>
{% endfor %}
</table>

{% endblock content %}

